.login__screen__wrapper {
    padding-top: 30px;
}

.login__button {
    background-color:#52ab98!important;
    border-color:#52ab98!important;
    font-weight: 500!important;
}
  
.login__button:hover,
.login__button:focus {
    background-color: #52ab98;
    border-color:#52ab98;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}