.App {
  text-align: center;
}

* {
  font-family: 'Times New Roman', Times, serif;
}

.screen__wrapper {
  background-color:#f8f9fa;
  min-height: 100vh;
}

.nav__link button {
  background-color:#52ab98;
  border-color:#52ab98;
  font-weight: 500;
}

.nav__link button:hover,
.nav__link button:focus {
  background-color: #52ab98;
  border-color:#52ab98;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.logout__button:focus {
  background-color: #52ab98!important;
  border-color:#52ab98!important;
  box-shadow: 0 0 11px rgba(33,33,33,.2)!important; 
}

.nav__link {
  align-self: center;
  font-weight: 500;
  color:#52ab98!important;
}

.dropdown__container {
  background-color: transparent!important;
  border-color: transparent!important;
  color:#52ab98!important;
  margin: 0px 10px;
}