.metric__column {
    margin: 40px 0px;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

@media screen and (max-width:767px) {
    .metric__column {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}