.home__register__button {
  background-color:#52ab98!important;
  border-color:#52ab98!important;
  font-weight: 500!important;
}

.header__banner {
  height: 30vh;
  padding: 20px;
}

.header__banner.second {
  background-color: #c8d8e4;
}

.header__banner.first {
  background-color: #ffffff;
}

.home___banner__1 {
  height: 100%!important;
  width: 100%!important;
  display: flex;
}

.home___banner__2 {
  width:100%;
}

.home__register__button:hover,
.home__register__button:focus {
  background-color: #52ab98!important;
  border-color:#52ab98!important;
  box-shadow: 0 0 11px rgba(33,33,33,.2)!important; 
}

.slogan__wrapper {
  padding: 20px 0px;
  color: white;
}

.notification__icon {
  font-size: 5em;
}

.money__icon {
  font-size: 5em;
}

footer {
  background-color: #ffffff;
  padding: 10px 20px;
  text-align: center;
}

@media screen and (max-width:768px) {
  .home___banner__1 {
    padding:20!important;
  }

  .notification__icon {
    font-size: 3em;
  }

  .money__icon {
    font-size: 3em;
  }
}
