.card__header {
    background-color: #ffffff!important;
}

.accordion__toggle__button {
    background-color: #52ab98!important;
    border-color: #52ab98!important;
}

.accordion__toggle__button:hover,
.accordion__toggle__button:focus {
    background-color: #52ab98!important;
    border-color: #52ab98!important;
    box-shadow: 0 0 11px rgba(33,33,33,.2)!important; 
}